{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Select Your Class and Semester</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form method="POST" action="/wc">
        {% csrf_token %}

        <div class="form-group row">
          <div class="col-xs-2">
            <div class="mb-3">
              <label for="class-id" class="form-label">Class ID</label>
              <input type="text" class="form-control" id="class-id" required name="class_id">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}