{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to Sentimental Piazza!</h1>
      <p>
        This is a simple web application that allows you to view a word cloud of Piazza posts.
      </p>
      <p>
        You can view your word cloud by signing in and submitting your class code.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <form method="POST" action="/class_selection/">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-xs-4">
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="inputEmail" required name="user_email">
            </div>

            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" required name="user_password">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}